@charset "UTF-8";
@font-face {
  font-family: 'Gotham bold';
  src: url("../fonts/Gotham-Bold/subset-Gotham-Bold.eot");
  src: url("../fonts/Gotham-Bold/subset-Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Bold/subset-Gotham-Bold.woff2") format("woff2"), url("../fonts/Gotham-Bold/subset-Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold/subset-Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold/subset-Gotham-Bold.svg#Gotham-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Book';
  src: url("../fonts/Gotham-Book/subset-Gotham-Book.eot");
  src: url("../fonts/Gotham-Book/subset-Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Book/subset-Gotham-Book.woff2") format("woff2"), url("../fonts/Gotham-Book/subset-Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book/subset-Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book/subset-Gotham-Book.svg#Gotham-Book") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Medium';
  src: url("../fonts/Gotham-Medium/subset-Gotham-Medium.eot");
  src: url("../fonts/Gotham-Medium/subset-Gotham-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Medium/subset-Gotham-Medium.woff2") format("woff2"), url("../fonts/Gotham-Medium/subset-Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium/subset-Gotham-Medium.ttf") format("truetype"), url("../fonts/Gotham-Medium/subset-Gotham-Medium.svg#Gotham-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

/* line 44, E:/1/макет 9/scss/maket9.scss */
* {
  box-sizing: border-box;
}

/* line 47, E:/1/макет 9/scss/maket9.scss */
html, body, viewport {
  overflow-x: hidden;
}

/* line 50, E:/1/макет 9/scss/maket9.scss */
.container {
  max-width: 984px;
  margin: 0 auto;
}

/* line 54, E:/1/макет 9/scss/maket9.scss */
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 59, E:/1/макет 9/scss/maket9.scss */
.logo {
  margin-top: 14px;
  flex-shrink: 0;
  background: url("../images/logo.png");
  width: 154px;
  height: 45px;
}

/* line 66, E:/1/макет 9/scss/maket9.scss */
.topmenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 0;
  margin-left: 91px;
}

/* line 73, E:/1/макет 9/scss/maket9.scss */
.topmenu__li {
  flex-flow: 1;
  list-style: none;
  background-color: transparent;
}

/* line 78, E:/1/макет 9/scss/maket9.scss */
.topmenu__a {
  display: block;
  text-align: center;
  color: #96a6a7;
  padding: 29.5px 10px;
  font-family: 'Gotham Medium';
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

/* line 89, E:/1/макет 9/scss/maket9.scss */
.topmenu__a:hover {
  background-color: orange;
  transition: background-color 0.5s;
  color: #fff;
}

/* line 95, E:/1/макет 9/scss/maket9.scss */
.search__button {
  padding: 25px;
  height: 100%;
  background-color: #e2dee0;
  border: none;
  cursor: pointer;
  outline: 0;
}

/* line 102, E:/1/макет 9/scss/maket9.scss */
.search__button:hover {
  background-color: #beb5ba;
}

/* line 106, E:/1/макет 9/scss/maket9.scss */
.fa-search {
  color: #fff;
  font-size: 23px;
}

/* line 110, E:/1/макет 9/scss/maket9.scss */
.fa-user {
  color: #fff;
  font-size: 18px;
}

/* line 114, E:/1/макет 9/scss/maket9.scss */
.input {
  position: relative;
  padding: 29px 50px 29px 83px;
  background-color: #e94e38;
  width: auto;
  height: 100%;
  text-align: left;
  vertical-align: top;
  font-family: 'Gotham Medium';
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  outline: 0;
}

/* line 129, E:/1/макет 9/scss/maket9.scss */
.input:hover {
  background-color: #bf2a15;
}

/* line 132, E:/1/макет 9/scss/maket9.scss */
.input::after {
  content: "";
  display: block;
  top: 0;
  left: 100%;
  background-color: #e94e38;
  width: 100vw;
  height: 100%;
}

/* line 142, E:/1/макет 9/scss/maket9.scss */
.icon {
  display: block;
  position: absolute;
  top: 28px;
  left: 40px;
  z-index: 1;
}

/* line 149, E:/1/макет 9/scss/maket9.scss */
.container2 {
  max-width: 470px;
  margin: 0 auto;
}

/* line 153, E:/1/макет 9/scss/maket9.scss */
.block1 {
  background: url("../images/img1.png") no-repeat;
  background-size: cover;
  text-align: center;
}

/* line 157, E:/1/макет 9/scss/maket9.scss */
.block1__title {
  display: block;
  padding: 58px 0 33px 0;
  text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
  color: #ffffff;
  font-family: 'Gotham Medium';
  font-size: 30px;
}

/* line 166, E:/1/макет 9/scss/maket9.scss */
.form {
  padding-bottom: 40px;
}

/* line 168, E:/1/макет 9/scss/maket9.scss */
.form.flex {
  flex-wrap: wrap;
}

/* line 172, E:/1/макет 9/scss/maket9.scss */
.form__select {
  position: relative;
  height: 100%;
  width: calc(220 / 470 * 100%);
  margin-right: 29px;
}

/* line 177, E:/1/макет 9/scss/maket9.scss */
.form__select:nth-child(2) {
  margin-right: 0;
}

/* line 181, E:/1/макет 9/scss/maket9.scss */
.form__select::after {
  content: url("../images/img2.png");
  pointer-events: none;
  position: absolute;
  top: 38%;
  right: 24px;
  z-index: 1;
}

/* line 189, E:/1/макет 9/scss/maket9.scss */
.select2-container {
  width: 100%;
}

/* line 192, E:/1/макет 9/scss/maket9.scss */
.select2-container .select2-selection--single:focus {
  outline: 0;
}

/* line 195, E:/1/макет 9/scss/maket9.scss */
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
  padding-right: 0;
}

/* line 199, E:/1/макет 9/scss/maket9.scss */
.select2-container--default .select2-selection--single {
  background-color: rgba(114, 112, 108, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  padding: 15px 40px 15px 30px;
  box-sizing: border-box;
}

/* line 206, E:/1/макет 9/scss/maket9.scss */
.select2-container .select2-selection--single {
  height: 100%;
  width: 100%;
}

/* line 210, E:/1/макет 9/scss/maket9.scss */
.select2-dropdown {
  border-radius: 20px;
  background-color: rgba(114, 112, 108, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* line 215, E:/1/макет 9/scss/maket9.scss */
.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-family: 'Gotham Book';
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  line-height: 24px;
}

/* line 223, E:/1/макет 9/scss/maket9.scss */
.select2-results__option {
  font-family: 'Gotham Book';
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  padding: 15px;
}

/* line 230, E:/1/макет 9/scss/maket9.scss */
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

/* line 233, E:/1/макет 9/scss/maket9.scss */
.select2-search--dropdown {
  display: none;
}

/* line 236, E:/1/макет 9/scss/maket9.scss */
.select2-results__option {
  border-radius: 20px;
  background-color: rgba(114, 112, 108, 0.5);
}

/* line 240, E:/1/макет 9/scss/maket9.scss */
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: rgba(114, 112, 108, 0.5);
  border-radius: 20px;
}

/* line 244, E:/1/макет 9/scss/maket9.scss */
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #e94e38;
  border-radius: 20px;
}

/* line 248, E:/1/макет 9/scss/maket9.scss */
.form__select select {
  width: 100%;
  height: 100%;
}

/* line 251, E:/1/макет 9/scss/maket9.scss */
.input2 {
  margin-top: 23px;
  width: 100%;
  height: 100%;
  padding: 19px 32px;
  font-family: 'Gotham Book';
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(114, 112, 108, 0.2);
  border-radius: 30px;
  outline: 0;
}

/* line 264, E:/1/макет 9/scss/maket9.scss */
.input2[type="text"]::-webkit-input-placeholder {
  color: #fff;
}

/* line 267, E:/1/макет 9/scss/maket9.scss */
.submit {
  margin: 29px auto 0 auto;
  align-self: center;
  width: calc(140 / 470 * 100%);
  padding: 23px 32px;
  text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Gotham Medium';
  background-color: #e94e38;
  box-shadow: 0 2px 0 #c1412e;
  border: none;
  border-radius: 46px;
  outline: 0;
  cursor: pointer;
}

/* line 283, E:/1/макет 9/scss/maket9.scss */
.submit:hover {
  background-color: #d62f18;
}

/* line 287, E:/1/макет 9/scss/maket9.scss */
.block2.flex {
  align-items: center;
}

/* line 290, E:/1/макет 9/scss/maket9.scss */
.block2 {
  padding: 10px 0;
}

/* line 293, E:/1/макет 9/scss/maket9.scss */
.links1__a {
  color: #96a6a7;
  font-size: 12px;
  font-family: 'Gotham Medium';
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

/* line 300, E:/1/макет 9/scss/maket9.scss */
.links1__a:hover {
  color: #e94e38;
}

/* line 304, E:/1/макет 9/scss/maket9.scss */
.links1 {
  margin-right: 25px;
}

/* line 306, E:/1/макет 9/scss/maket9.scss */
.links1:last-child {
  margin-right: 0;
}

/* line 310, E:/1/макет 9/scss/maket9.scss */
.block2__buttons .flex {
  align-items: center;
}

/* line 313, E:/1/макет 9/scss/maket9.scss */
.form__select3 {
  position: relative;
  height: 100%;
  flex-grow: 1;
  margin-right: 12px;
}

/* line 318, E:/1/макет 9/scss/maket9.scss */
.form__select3 .select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #96a6a7;
  border-radius: 30px;
  padding: 12px 34px 12px 21px;
  box-sizing: border-box;
  width: 100%;
}

/* line 326, E:/1/макет 9/scss/maket9.scss */
.form__select3 .select2-container--default .select2-selection--single .select2-selection__rendered {
  font-family: 'Gotham Book';
  color: #e94e38;
  font-weight: 400;
  font-size: 12px;
  text-align: left;
  line-height: 14px;
  white-space: normal;
  text-transform: uppercase;
}

/* line 336, E:/1/макет 9/scss/maket9.scss */
.form__select3 .select2-dropdown .s3 {
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #96a6a7;
}

/* line 342, E:/1/макет 9/scss/maket9.scss */
.s3 .select2-results__option {
  font-family: 'Gotham Book';
  color: #e94e38;
  font-weight: 400;
  font-size: 12px;
  padding: 12px;
  background-color: #fff;
  border-radius: 20px;
  background-color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 354, E:/1/макет 9/scss/maket9.scss */
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

/* line 357, E:/1/макет 9/scss/maket9.scss */
.s3 .select2-search--dropdown {
  display: none;
}

/* line 361, E:/1/макет 9/scss/maket9.scss */
.select2-container--default .s3 .select2-results__option[aria-selected=true] {
  background-color: #fff;
  border-radius: 20px;
}

/* line 365, E:/1/макет 9/scss/maket9.scss */
.select2-container--default .s3 .select2-results__option--highlighted[aria-selected] {
  background-color: #e94e38;
  border-radius: 20px;
}

/* line 369, E:/1/макет 9/scss/maket9.scss */
.form__select3::after {
  content: url("../images/img3.png");
  pointer-events: none;
  position: absolute;
  top: 29%;
  right: 19px;
  z-index: 1;
}

/* line 377, E:/1/макет 9/scss/maket9.scss */
.form__select3 select {
  width: 100%;
  height: 100%;
  padding: 12px 34px 12px 21px;
}

/* line 381, E:/1/макет 9/scss/maket9.scss */
.map__button {
  flex-grow: 1;
  width: 100%;
  border: 1px solid #1baf5d;
  background-color: #1baf5d;
  padding: 12px 44px 12px 19px;
  position: relative;
  color: #ffffff;
  font-family: 'Gotham Medium';
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 26px;
  cursor: pointer;
  outline: 0;
}

/* line 395, E:/1/макет 9/scss/maket9.scss */
.map__button:hover {
  background-color: #116d3a;
}

/* line 399, E:/1/макет 9/scss/maket9.scss */
.fa-map-marker {
  position: absolute;
  color: #fff;
  font-size: 14px;
  right: 18px;
  top: 34%;
}

/* line 406, E:/1/макет 9/scss/maket9.scss */
.svg1 {
  fill: #fff;
  width: 20px;
  height: 19px;
}

/* line 411, E:/1/макет 9/scss/maket9.scss */
.svg2 {
  fill: #fff;
  width: 30px;
  height: 30px;
}

/* line 416, E:/1/макет 9/scss/maket9.scss */
.svg3 {
  fill: #fff;
  width: 30px;
  height: 23px;
}

/* line 421, E:/1/макет 9/scss/maket9.scss */
.svg4 {
  fill: #9dacad;
  width: 46px;
  height: 46px;
}

/* line 426, E:/1/макет 9/scss/maket9.scss */
.filter__title {
  margin-right: 9px;
  vertical-align: middle;
  text-align: right;
  font-size: 12px;
  line-height: 48px;
  color: #96a6a7;
  text-transform: uppercase;
  font-family: 'Gotham Medium';
}

/* line 436, E:/1/макет 9/scss/maket9.scss */
.filter__item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #b6c0c1;
  margin-right: 9px;
  text-decoration: none;
  outline: none;
  text-align: center;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* line 448, E:/1/макет 9/scss/maket9.scss */
.filter__item:last-child {
  margin-right: 0;
  background-color: #88499c;
}

/* line 452, E:/1/макет 9/scss/maket9.scss */
.filter__item:nth-child(2) {
  background-color: #1baf5d;
}

/* line 455, E:/1/макет 9/scss/maket9.scss */
.filter__item:nth-child(5) {
  background-color: #f19e1f;
}

/* line 458, E:/1/макет 9/scss/maket9.scss */
.filter__item:hover {
  opacity: 0.5;
}

/* line 462, E:/1/макет 9/scss/maket9.scss */
.block3 {
  background-color: #f3f1f2;
  background-size: cover;
}

/* line 465, E:/1/макет 9/scss/maket9.scss */
.block3__link {
  width: 100%;
  height: 100%;
  padding: 21px 0 35px 0;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #e2dee0;
  font-family: 'Gotham Medium';
  font-size: 18px;
}

/* line 473, E:/1/макет 9/scss/maket9.scss */
.block3__link-a {
  color: #566375;
  text-decoration: none;
}

/* line 476, E:/1/макет 9/scss/maket9.scss */
.block3__link-a:hover {
  color: crimson;
}

/* line 482, E:/1/макет 9/scss/maket9.scss */
.load_more {
  border-bottom: 1px solid #838887;
}

/* line 484, E:/1/макет 9/scss/maket9.scss */
.load_more:hover {
  border-bottom: 1px solid crimson;
}

/* line 488, E:/1/макет 9/scss/maket9.scss */
.cards.flex {
  align-items: stretch;
  flex-wrap: wrap;
  padding: 14px 15px 20px 15px;
}

/* line 493, E:/1/макет 9/scss/maket9.scss */
.card1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-shadow: 0 1px 0 #e2dee0;
  background-color: #ffffff;
}

/* line 499, E:/1/макет 9/scss/maket9.scss */
.card1__img {
  height: auto;
  width: 100%;
  padding-bottom: 66.67%;
  background: url("../images/img9.png") 100% 100% no-repeat;
  position: relative;
  background-size: cover;
  border-bottom: 3px solid #1baf5d;
}

/* line 507, E:/1/макет 9/scss/maket9.scss */
.card1__img::after {
  content: url("../images/img14.png");
  position: absolute;
  width: 55px;
  height: 55px;
  left: calc(50% - 26px);
  bottom: -26.5px;
  line-height: 64px;
  text-align: center;
  border-radius: 50%;
  border: 3px solid #ffffff;
  background-color: #1baf5d;
}

/* line 521, E:/1/макет 9/scss/maket9.scss */
.card1__text {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  padding: 36px 15px 14px 15px;
  text-align: center;
}

/* line 526, E:/1/макет 9/scss/maket9.scss */
.card1__text-desc {
  color: #566375;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Gotham Medium';
}

/* line 532, E:/1/макет 9/scss/maket9.scss */
.card1__text-footer {
  padding-top: 19px;
  font-family: 'Gotham Medium';
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

/* line 538, E:/1/макет 9/scss/maket9.scss */
.card1__text-footer.flex {
  justify-content: center;
  flex-direction: column;
}

/* line 545, E:/1/макет 9/scss/maket9.scss */
.cards__item1 {
  width: calc(210/984*100%);
  flex-grow: 1;
  height: auto;
  margin-top: 32px;
  margin-right: 35px;
}

/* line 551, E:/1/макет 9/scss/maket9.scss */
.cards__item1:nth-child(-n+10):nth-child(6n-2), .cards__item1:last-child {
  margin-right: 0;
}

/* line 558, E:/1/макет 9/scss/maket9.scss */
.cards__item1:nth-child(-n+4):nth-child(4n-2) .card__link, .cards__item1:nth-child(n+6):nth-child(-n+11):nth-child(4n-8) .card__link, .cards__item1:last-child .card__link {
  color: #f19e1f;
}

/* line 560, E:/1/макет 9/scss/maket9.scss */
.cards__item1:nth-child(-n+4):nth-child(4n-2) .card__link:hover, .cards__item1:nth-child(n+6):nth-child(-n+11):nth-child(4n-8) .card__link:hover, .cards__item1:last-child .card__link:hover {
  color: crimson;
}

/* line 564, E:/1/макет 9/scss/maket9.scss */
.cards__item1:nth-child(-n+4):nth-child(4n-2) .card1__text-footer, .cards__item1:nth-child(n+6):nth-child(-n+11):nth-child(4n-8) .card1__text-footer, .cards__item1:last-child .card1__text-footer {
  padding-top: 35px;
}

/* line 567, E:/1/макет 9/scss/maket9.scss */
.cards__item1:nth-child(-n+4):nth-child(4n-2) .card1__img, .cards__item1:nth-child(n+6):nth-child(-n+11):nth-child(4n-8) .card1__img, .cards__item1:last-child .card1__img {
  background: url("../images/img10.png") 100% 100% no-repeat;
  background-size: cover;
  border-bottom: 3px solid #f19e1f;
}

/* line 571, E:/1/макет 9/scss/maket9.scss */
.cards__item1:nth-child(-n+4):nth-child(4n-2) .card1__img::after, .cards__item1:nth-child(n+6):nth-child(-n+11):nth-child(4n-8) .card1__img::after, .cards__item1:last-child .card1__img::after {
  content: url("../images/img15.png");
  background-color: #f19e1f;
  line-height: 63px;
  text-align: center;
}

/* line 581, E:/1/макет 9/scss/maket9.scss */
.cards__item1:nth-child(-n+4):nth-child(4n-1) .card__link, .cards__item1:nth-child(n+6):nth-child(-n+11):nth-child(4n-7) .card__link {
  color: #88499c;
}

/* line 583, E:/1/макет 9/scss/maket9.scss */
.cards__item1:nth-child(-n+4):nth-child(4n-1) .card__link:hover, .cards__item1:nth-child(n+6):nth-child(-n+11):nth-child(4n-7) .card__link:hover {
  color: crimson;
}

/* line 587, E:/1/макет 9/scss/maket9.scss */
.cards__item1:nth-child(-n+4):nth-child(4n-1) .card1__img, .cards__item1:nth-child(n+6):nth-child(-n+11):nth-child(4n-7) .card1__img {
  border-bottom: 3px solid #88499c;
}

/* line 589, E:/1/макет 9/scss/maket9.scss */
.cards__item1:nth-child(-n+4):nth-child(4n-1) .card1__img::after, .cards__item1:nth-child(n+6):nth-child(-n+11):nth-child(4n-7) .card1__img::after {
  content: url("../images/img16.png");
  background-color: #88499c;
  line-height: 63px;
}

/* line 597, E:/1/макет 9/scss/maket9.scss */
.cards__item1:nth-child(6n-2) .card1__img {
  background: url("../images/img11.png") 100% 100% no-repeat;
  background-size: cover;
}

/* line 602, E:/1/макет 9/scss/maket9.scss */
.cards__item1:nth-child(3) .card1__img {
  padding-bottom: 0;
  text-align: center;
  color: #fff;
}

/* line 608, E:/1/макет 9/scss/maket9.scss */
.card__link {
  color: #1baf5d;
  text-decoration: none;
}

/* line 611, E:/1/макет 9/scss/maket9.scss */
.card__link:hover {
  color: crimson;
}

/* line 615, E:/1/макет 9/scss/maket9.scss */
.star-disabled {
  width: 100%;
  height: 100%;
  letter-spacing: -1px;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

/* line 622, E:/1/макет 9/scss/maket9.scss */
.fa-yel {
  color: #f19e1f;
}

/* line 625, E:/1/макет 9/scss/maket9.scss */
.fa-bord {
  color: #f19e1f;
}

/* line 628, E:/1/макет 9/scss/maket9.scss */
.counter {
  color: #96a6a7;
  text-decoration: none;
}

/* line 631, E:/1/макет 9/scss/maket9.scss */
.counter::before {
  content: '(';
}

/* line 634, E:/1/макет 9/scss/maket9.scss */
.counter::after {
  content: ')';
}

/* line 637, E:/1/макет 9/scss/maket9.scss */
.counter:hover {
  color: #9c240e;
}

/* line 641, E:/1/макет 9/scss/maket9.scss */
.prise {
  display: inline-block;
  position: absolute;
  top: 7px;
  right: 8px;
  padding: 7px 12px 6px 11px;
  background-color: #1baf5d;
  color: #ffffff;
  font-family: 'Gotham Medium';
  font-size: 12px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  border-radius: 23px;
}

/* line 656, E:/1/макет 9/scss/maket9.scss */
.spect__backgr {
  background-color: rgba(136, 73, 156, 0.8);
  background-size: 100%;
}

/* line 660, E:/1/макет 9/scss/maket9.scss */
.show_more {
  display: inline-block;
  position: relative;
  margin-top: 25px;
  border: 2px solid #ffffff;
  background-color: #88499c;
  padding: 11px 19px 10px 38px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  font-family: 'Gotham Medium';
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 21px;
  outline: none;
  cursor: pointer;
}

/* line 676, E:/1/макет 9/scss/maket9.scss */
.show_more:hover {
  background-color: #ac74be;
}

/* line 680, E:/1/макет 9/scss/maket9.scss */
.fa__show-more {
  position: absolute;
  font-size: 12px;
  top: 29%;
  left: 18px;
}

/* line 686, E:/1/макет 9/scss/maket9.scss */
.stars {
  padding: 15px 38px 40px 36px;
}

/* line 688, E:/1/макет 9/scss/maket9.scss */
.stars.flex {
  align-items: center;
}

/* line 692, E:/1/макет 9/scss/maket9.scss */
.star-rating {
  font-size: 12px;
  letter-spacing: -1px;
  content: "\f005";
}

/* line 696, E:/1/макет 9/scss/maket9.scss */
.star-rating__wrap {
  display: inline-block;
  font-size: 12px;
}

/* line 699, E:/1/макет 9/scss/maket9.scss */
.star-rating__wrap::after {
  content: "";
  display: table;
  clear: both;
}

/* line 705, E:/1/макет 9/scss/maket9.scss */
.star-rating__ico {
  float: right;
  padding-left: 2px;
  cursor: pointer;
  color: #ffffff;
}

/* line 711, E:/1/макет 9/scss/maket9.scss */
.star-rating__ico:last-child {
  padding-left: 0;
}

/* line 714, E:/1/макет 9/scss/maket9.scss */
.star-rating__input {
  display: none;
}

/* line 717, E:/1/макет 9/scss/maket9.scss */
.star-rating__ico:hover::before,
.star-rating__ico:hover ~ .star-rating__ico::before,
.star-rating__input:checked ~ .star-rating__ico::before {
  content: "\f005";
}

/* line 724, E:/1/макет 9/scss/maket9.scss */
.star-comments {
  font-size: 24px;
}

/* line 727, E:/1/макет 9/scss/maket9.scss */
.card2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

/* line 732, E:/1/макет 9/scss/maket9.scss */
.card2__img {
  background: url("../images/img17.png") 100% 100% no-repeat;
  background-size: cover;
  border-bottom: 3px solid #1baf5d;
  text-align: left;
  padding: 97px 0 9px 97px;
  background-color: #ffffff;
  position: relative;
  flex-grow: 1;
}

/* line 741, E:/1/макет 9/scss/maket9.scss */
.card2__img-title.flex {
  justify-content: flex-start;
  align-items: center;
  font-family: 'Gotham Medium';
  color: #ffffff;
  font-size: 12px;
}

/* line 748, E:/1/макет 9/scss/maket9.scss */
.card2__img::after {
  content: url("../images/img14.png");
  position: absolute;
  width: 55px;
  height: 55px;
  left: 18px;
  bottom: -26.5px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  border: 3px solid #ffffff;
  background-color: #1baf5d;
}

/* line 763, E:/1/макет 9/scss/maket9.scss */
.cards__item2 {
  height: auto;
  flex-grow: 1;
  width: calc(459.5/954*100%);
  margin-top: 32px;
  margin-right: 35px;
  background-color: #fff;
}

/* line 770, E:/1/макет 9/scss/maket9.scss */
.cards__item2:nth-child(2n) {
  margin-right: 0;
}

/* line 774, E:/1/макет 9/scss/maket9.scss */
.cards__item2:nth-child(n+6) .card2__img {
  background: url("../images/img18.png") 100% 100% no-repeat;
  background-size: cover;
  border-bottom: 3px solid #f19e1f;
}

/* line 778, E:/1/макет 9/scss/maket9.scss */
.cards__item2:nth-child(n+6) .card2__img::after {
  background-color: #f19e1f;
}

/* line 783, E:/1/макет 9/scss/maket9.scss */
.cards__item2:nth-child(n+6) .card2__desc-img {
  background: url("../images/img20.png") 100% 100% no-repeat;
  background-size: cover;
}

/* line 789, E:/1/макет 9/scss/maket9.scss */
.img-title {
  text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 10px;
}

/* line 796, E:/1/макет 9/scss/maket9.scss */
.card2__desc {
  width: 100%;
  height: 100%;
  padding: 17px 56px 18px 97px;
  position: relative;
  text-align: left;
  flex-grow: 1;
}

/* line 802, E:/1/макет 9/scss/maket9.scss */
.card2__desc-img {
  position: absolute;
  background: url("../images/img19.png") no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  border: 3px solid #e2dee0;
  top: 53px;
  left: 22px;
}

/* line 813, E:/1/макет 9/scss/maket9.scss */
.card2__desc-hr {
  position: absolute;
  height: 20px;
  width: 2px;
  left: 48px;
  top: 20px;
  background-color: #f3f1f2;
  border: none;
}

/* line 823, E:/1/макет 9/scss/maket9.scss */
.card__comments {
  color: #566375;
  padding-top: 17px;
  font-size: 14px;
}

/* line 827, E:/1/макет 9/scss/maket9.scss */
.card__comments-title {
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Gotham bold';
}

/* line 832, E:/1/макет 9/scss/maket9.scss */
.card__comments-text {
  font-family: "Gotham Book";
  margin-top: 11px;
  line-height: 20px;
  position: relative;
}

/* line 838, E:/1/макет 9/scss/maket9.scss */
.card__comments-link {
  position: absolute;
  color: #566375;
  background-color: #fff;
  right: -39px;
  bottom: 0px;
  line-height: 18px;
  font-family: 'Gotham Medium';
  border-bottom: 1px solid rgba(0, 0, 1, 0.15);
  text-decoration: none;
}

/* line 848, E:/1/макет 9/scss/maket9.scss */
.card__comments-link:hover {
  color: cornflowerblue;
}

/* line 853, E:/1/макет 9/scss/maket9.scss */
.container3 {
  margin: 0 auto;
  max-width: 756px;
}

/* line 857, E:/1/макет 9/scss/maket9.scss */
.block__offer {
  padding: 88px 0 100px 0;
  text-align: center;
}

/* line 860, E:/1/макет 9/scss/maket9.scss */
.block__offer-title1 {
  font-size: 22px;
  font-family: 'Gotham Medium';
  color: #566375;
  line-height: 28px;
}

/* line 866, E:/1/макет 9/scss/maket9.scss */
.block__offer-title2 {
  margin-bottom: 71px;
  color: #96a6a7;
  font-family: "Gotham Book";
  font-size: 16px;
  line-height: 20px;
}

/* line 875, E:/1/макет 9/scss/maket9.scss */
.reality__link {
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 2px solid #9dacad;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  line-height: 125px;
}

/* line 884, E:/1/макет 9/scss/maket9.scss */
.reality__link:hover .svg4 {
  fill: #1baf5d;
}

/* line 887, E:/1/макет 9/scss/maket9.scss */
.reality__link-hr {
  display: inline-block;
  width: calc((100% - 500px)/4);
  height: 2px;
  background-color: #e2dee0;
  margin-top: 50px;
  margin-left: 6px;
  margin-right: 6px;
}

/* line 896, E:/1/макет 9/scss/maket9.scss */
.reality__link:hover {
  border-color: #1baf5d;
}

/* line 900, E:/1/макет 9/scss/maket9.scss */
.reality__title {
  color: #1baf5d;
  font-family: 'Gotham Medium';
  font-size: 24px;
  padding: 38px 0 43px 0;
}

/* line 906, E:/1/макет 9/scss/maket9.scss */
.reality__card {
  width: 50%;
  height: 100%;
  padding: 0 10px 43px 103px;
  position: relative;
  color: #566375;
  font-family: "Gotham Book";
  font-size: 14px;
  line-height: 24px;
  text-align: left;
}

/* line 916, E:/1/макет 9/scss/maket9.scss */
.reality__card-icon {
  position: absolute;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  top: 5px;
  left: 10px;
  background-color: #1db05e;
  line-height: 62px;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
}

/* line 931, E:/1/макет 9/scss/maket9.scss */
footer {
  background: url("../images/img26.png") no-repeat;
  background-size: cover;
}

/* line 935, E:/1/макет 9/scss/maket9.scss */
.footer__form {
  padding: 61px 244px 57px 244px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: #ffffff;
  text-align: center;
}

/* line 940, E:/1/макет 9/scss/maket9.scss */
.footer__form-title {
  font-family: 'Gotham Medium';
  text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
  font-size: 24px;
}

/* line 946, E:/1/макет 9/scss/maket9.scss */
.footer__input {
  margin-top: 47px;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  vertical-align: top;
}

/* line 954, E:/1/макет 9/scss/maket9.scss */
.icon-email {
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 33px;
}

/* line 960, E:/1/макет 9/scss/maket9.scss */
.email {
  display: inline-block;
  padding: 22px 152px 22px 69px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #ffffff;
  width: 100%;
  height: 100%;
  text-align: left;
  vertical-align: top;
  font-family: "Gotham Book";
  font-weight: 400;
  font-size: 18px;
  background-color: rgba(92, 87, 83, 0.2);
  border-radius: 44px;
  outline: 0;
}

/* line 975, E:/1/макет 9/scss/maket9.scss */
.subscribe {
  position: absolute;
  display: inline-block;
  padding: 20px 19px;
  top: 4px;
  right: 4px;
  width: 120px;
  height: auto;
  background-color: #e94e38;
  box-shadow: 0 2px 0 #c1412e;
  text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
  text-align: center;
  vertical-align: middle;
  font-family: 'Gotham Medium';
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 38px;
  outline: none;
  cursor: pointer;
}

/* line 996, E:/1/макет 9/scss/maket9.scss */
.subscribe:hover {
  background-color: #ee7766;
}

/* line 1000, E:/1/макет 9/scss/maket9.scss */
.email[type="email"]::-webkit-input-placeholder {
  color: #fff;
}

/* line 1003, E:/1/макет 9/scss/maket9.scss */
.fa1 {
  color: #ffffff;
  font-size: 18px;
}

/* line 1007, E:/1/макет 9/scss/maket9.scss */
.footer__part2 {
  padding: 42px 0 64px 0;
}

/* line 1010, E:/1/макет 9/scss/maket9.scss */
.footer__links {
  width: 33.33%;
  height: 100%;
  flex-grow: 1;
}

/* line 1014, E:/1/макет 9/scss/maket9.scss */
.footer__links-item {
  display: flex;
  flex-direction: column;
}

/* line 1017, E:/1/макет 9/scss/maket9.scss */
.footer__links-item-title {
  font-family: 'Gotham Medium';
  font-size: 16px;
  margin-bottom: 25px;
  color: #ffffff;
  line-height: 20px;
}

/* line 1026, E:/1/макет 9/scss/maket9.scss */
.links__title {
  border-bottom: 1px solid rgba(184, 184, 190, 0.7);
}

/* line 1029, E:/1/макет 9/scss/maket9.scss */
.footer__link {
  font-family: "Gotham Book";
  font-size: 14px;
  line-height: 24px;
}

/* line 1033, E:/1/макет 9/scss/maket9.scss */
.footer__link_a {
  text-decoration: none;
  color: #c0bebc;
}

/* line 1036, E:/1/макет 9/scss/maket9.scss */
.footer__link_a:hover {
  color: #e94e38;
}

/* line 1041, E:/1/макет 9/scss/maket9.scss */
.footer__links .flex {
  flex-direction: column;
  color: #ffffff;
}

/* line 1045, E:/1/макет 9/scss/maket9.scss */
.soc__links {
  font-size: 30px;
  text-align: left;
  line-height: 40px;
  word-spacing: 10px;
}

/* line 1050, E:/1/макет 9/scss/maket9.scss */
.soc__links_a {
  text-decoration: none;
  color: #ffffff;
}

/* line 1053, E:/1/макет 9/scss/maket9.scss */
.soc__links_a:hover {
  color: #e94e38;
}

/* line 1058, E:/1/макет 9/scss/maket9.scss */
.copyright {
  margin-top: 64px;
  font-family: "Gotham Book";
  font-size: 14px;
}

@media (max-width: 983px) {
  /* line 1064, E:/1/макет 9/scss/maket9.scss */
  .container {
    max-width: 768px;
  }
  /* line 1067, E:/1/макет 9/scss/maket9.scss */
  .flex {
    flex-wrap: wrap;
  }
  /* line 1070, E:/1/макет 9/scss/maket9.scss */
  .menu {
    order: 1;
    margin: auto;
  }
  /* line 1074, E:/1/макет 9/scss/maket9.scss */
  .topmenu {
    margin-left: 0;
  }
  /* line 1077, E:/1/макет 9/scss/maket9.scss */
  .search__button {
    order: 2;
    border-bottom-right-radius: 50px;
    padding: 20px;
    padding-right: 30px;
    padding-bottom: 24px;
    padding-top: 15px;
    padding-left: 20px;
  }
  /* line 1086, E:/1/макет 9/scss/maket9.scss */
  .input {
    border-bottom-left-radius: 50px;
    padding: 20px 50px 27px 83px;
  }
  /* line 1089, E:/1/макет 9/scss/maket9.scss */
  .input::after {
    content: "";
    display: none;
  }
  /* line 1094, E:/1/макет 9/scss/maket9.scss */
  .icon {
    top: 20px;
  }
  /* line 1097, E:/1/макет 9/scss/maket9.scss */
  .block2.flex {
    align-items: center;
  }
  /* line 1100, E:/1/макет 9/scss/maket9.scss */
  .block2 {
    padding: 10px 10px;
  }
  /* line 1103, E:/1/макет 9/scss/maket9.scss */
  .block2__buttons .flex {
    flex-wrap: wrap;
  }
  /* line 1106, E:/1/макет 9/scss/maket9.scss */
  .block2__buttons {
    order: 2;
    margin: auto;
  }
  /* line 1110, E:/1/макет 9/scss/maket9.scss */
  .filter {
    order: 1;
  }
  /* line 1114, E:/1/макет 9/scss/maket9.scss */
  .card1__img {
    padding-bottom: 45.67%;
    background: url("../images/img9.png") center center no-repeat;
    background-size: cover;
  }
  /* line 1119, E:/1/макет 9/scss/maket9.scss */
  .card1__text {
    padding: 36px 30px 14px 30px;
  }
  /* line 1121, E:/1/макет 9/scss/maket9.scss */
  .card1__text-footer {
    padding-top: 32px;
  }
  /* line 1126, E:/1/макет 9/scss/maket9.scss */
  .cards__item1 {
    width: calc(300/984*100%);
  }
  /* line 1128, E:/1/макет 9/scss/maket9.scss */
  .cards__item1:nth-child(even) {
    margin-right: 0;
  }
  /* line 1131, E:/1/макет 9/scss/maket9.scss */
  .cards__item1:nth-child(n+12):nth-child(even) {
    margin-right: 35px;
  }
  /* line 1137, E:/1/макет 9/scss/maket9.scss */
  .cards__item1:nth-child(-n+4):nth-child(4n-2) .card1__img, .cards__item1:nth-child(n+6):nth-child(-n+11):nth-child(4n-8) .card1__img, .cards__item1:last-child .card1__img {
    background: url("../images/img10.png") center center no-repeat;
    background-size: cover;
  }
  /* line 1143, E:/1/макет 9/scss/maket9.scss */
  .cards__item1:nth-child(6n-2) .card1__img {
    background: url("../images/img11.png") center center no-repeat;
    background-size: cover;
  }
  /* line 1149, E:/1/макет 9/scss/maket9.scss */
  .show_more {
    margin-top: 30px;
  }
  /* line 1152, E:/1/макет 9/scss/maket9.scss */
  .stars {
    padding: 24px 50px 46px 50px;
  }
  /* line 1155, E:/1/макет 9/scss/maket9.scss */
  .cards__item2 {
    margin-top: 32px;
    width: 45.44%;
    margin-top: 32px;
  }
  /* line 1159, E:/1/макет 9/scss/maket9.scss */
  .cards__item2:nth-child(odd) {
    margin-right: 35px;
  }
  /* line 1162, E:/1/макет 9/scss/maket9.scss */
  .cards__item2 .img-title {
    margin-right: 5px;
  }
  /* line 1165, E:/1/макет 9/scss/maket9.scss */
  .cards__item2 .card2__desc {
    padding: 38px 62px 9px 17px;
  }
  /* line 1167, E:/1/макет 9/scss/maket9.scss */
  .cards__item2 .card2__desc-img {
    top: 33px;
    left: auto;
    right: 20px;
  }
  /* line 1172, E:/1/макет 9/scss/maket9.scss */
  .cards__item2 .card2__desc-hr {
    display: none;
  }
  /* line 1176, E:/1/макет 9/scss/maket9.scss */
  .cards__item2:nth-child(11) {
    order: 2;
    margin: 32px auto;
  }
  /* line 1181, E:/1/макет 9/scss/maket9.scss */
  .block__offer {
    padding: 88px 0 50px 0;
  }
  /* line 1183, E:/1/макет 9/scss/maket9.scss */
  .block__offer-title2 {
    margin-bottom: 50px;
  }
  /* line 1188, E:/1/макет 9/scss/maket9.scss */
  .reality__links.flex {
    justify-content: center;
    padding: 0 100px;
  }
  /* line 1193, E:/1/макет 9/scss/maket9.scss */
  .reality__link-hr {
    width: calc((163% - 500px)/4);
    height: 2px;
  }
  /* line 1196, E:/1/макет 9/scss/maket9.scss */
  .reality__link-hr:nth-of-type(3) {
    display: none;
  }
  /* line 1200, E:/1/макет 9/scss/maket9.scss */
  .reality__link:hover {
    border-color: #1baf5d;
  }
  /* line 1206, E:/1/макет 9/scss/maket9.scss */
  footer .container {
    padding: 0 20px;
  }
  /* line 1210, E:/1/макет 9/scss/maket9.scss */
  .footer__form {
    padding: 61px 144px 57px 144px;
  }
}

@media (max-width: 767px) {
  /* line 1215, E:/1/макет 9/scss/maket9.scss */
  .container {
    max-width: 470px;
  }
  /* line 1218, E:/1/макет 9/scss/maket9.scss */
  .container2 {
    max-width: 470px;
    margin: 0 auto;
  }
  /* line 1222, E:/1/макет 9/scss/maket9.scss */
  .container3 {
    max-width: 470px;
  }
  /* line 1225, E:/1/макет 9/scss/maket9.scss */
  .flex {
    flex-wrap: wrap;
  }
  /* line 1228, E:/1/макет 9/scss/maket9.scss */
  .topmenu {
    flex-wrap: wrap;
    margin-left: 0;
  }
  /* line 1231, E:/1/макет 9/scss/maket9.scss */
  .topmenu__a {
    padding: 20px 20px;
  }
  /* line 1235, E:/1/макет 9/scss/maket9.scss */
  .block2 {
    padding: 10px 0;
  }
  /* line 1237, E:/1/макет 9/scss/maket9.scss */
  .block2.flex {
    justify-content: center;
  }
  /* line 1241, E:/1/макет 9/scss/maket9.scss */
  .links1 {
    padding: 15px 0;
  }
  /* line 1244, E:/1/макет 9/scss/maket9.scss */
  .block2__buttons .flex {
    flex-wrap: wrap;
  }
  /* line 1247, E:/1/макет 9/scss/maket9.scss */
  .filter {
    margin-top: 10px;
  }
  /* line 1250, E:/1/макет 9/scss/maket9.scss */
  .block2__buttons {
    margin: 20px 0 10px 0;
  }
  /* line 1254, E:/1/макет 9/scss/maket9.scss */
  .block3__link {
    padding: 0 0 35px 0;
  }
  /* line 1259, E:/1/макет 9/scss/maket9.scss */
  .card1__img {
    padding-bottom: 80%;
  }
  /* line 1263, E:/1/макет 9/scss/maket9.scss */
  .cards__item2 {
    margin: auto;
    width: 100%;
    margin-top: 32px;
    margin-right: 0;
  }
  /* line 1268, E:/1/макет 9/scss/maket9.scss */
  .cards__item2:nth-child(odd) {
    margin-right: 0;
  }
  /* line 1272, E:/1/макет 9/scss/maket9.scss */
  .stars {
    padding: 24px 30px 46px 30px;
  }
  /* line 1275, E:/1/макет 9/scss/maket9.scss */
  .block__offer {
    padding: 48px 0 50px 0;
  }
  /* line 1277, E:/1/макет 9/scss/maket9.scss */
  .block__offer-title1 {
    font-size: 18px;
  }
  /* line 1280, E:/1/макет 9/scss/maket9.scss */
  .block__offer-title2 {
    margin-bottom: 30px;
    font-size: 14px;
  }
  /* line 1285, E:/1/макет 9/scss/maket9.scss */
  .svg4 {
    width: 50px;
    height: 50px;
  }
  /* line 1290, E:/1/макет 9/scss/maket9.scss */
  .reality__links.flex {
    padding: 0 10px;
  }
  /* line 1293, E:/1/макет 9/scss/maket9.scss */
  .reality__link {
    height: 80px;
    width: 80px;
    line-height: 110px;
  }
  /* line 1297, E:/1/макет 9/scss/maket9.scss */
  .reality__link-hr {
    width: 70px;
    height: 2px;
    margin-top: 35px;
  }
  /* line 1301, E:/1/макет 9/scss/maket9.scss */
  .reality__link-hr:nth-of-type(3) {
    display: none;
  }
  /* line 1305, E:/1/макет 9/scss/maket9.scss */
  .reality__link:hover {
    border-color: #1baf5d;
  }
  /* line 1309, E:/1/макет 9/scss/maket9.scss */
  .reality__card {
    width: 100%;
  }
  /* line 1313, E:/1/макет 9/scss/maket9.scss */
  .footer__form {
    padding: 61px 0 57px 0;
  }
  /* line 1316, E:/1/макет 9/scss/maket9.scss */
  .footer__input {
    text-align: center;
  }
  /* line 1319, E:/1/макет 9/scss/maket9.scss */
  .email {
    padding: 22px 136px 22px 69px;
  }
  /* line 1322, E:/1/макет 9/scss/maket9.scss */
  .copyright {
    margin-top: 34px;
  }
}

@media (max-width: 469px) {
  /* line 1328, E:/1/макет 9/scss/maket9.scss */
  .container {
    max-width: 320px;
  }
  /* line 1331, E:/1/макет 9/scss/maket9.scss */
  .flex {
    justify-content: center;
  }
  /* line 1334, E:/1/макет 9/scss/maket9.scss */
  .logo {
    order: 2;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  /* line 1339, E:/1/макет 9/scss/maket9.scss */
  .header-button {
    order: 1;
  }
  /* line 1342, E:/1/макет 9/scss/maket9.scss */
  .menu {
    order: 3;
    margin: auto;
    margin-bottom: 10px;
  }
  /* line 1348, E:/1/макет 9/scss/maket9.scss */
  .topmenu__a {
    padding: 15px 10px;
  }
  /* line 1352, E:/1/макет 9/scss/maket9.scss */
  .search__button {
    order: 2;
    padding-bottom: 15px;
    padding-top: 13px;
  }
  /* line 1357, E:/1/макет 9/scss/maket9.scss */
  .input {
    padding: 18px 50px 18px 83px;
  }
  /* line 1360, E:/1/макет 9/scss/maket9.scss */
  .icon {
    top: 17px;
    left: 45px;
  }
  /* line 1364, E:/1/макет 9/scss/maket9.scss */
  .container2 {
    max-width: 320px;
  }
  /* line 1368, E:/1/макет 9/scss/maket9.scss */
  .block1__title {
    font-size: 23px;
  }
  /* line 1372, E:/1/макет 9/scss/maket9.scss */
  .form {
    padding-bottom: 40px;
    padding: 0 50px 40px 50px;
  }
  /* line 1375, E:/1/макет 9/scss/maket9.scss */
  .form.flex {
    flex-wrap: wrap;
    align-content: stretch;
  }
  /* line 1380, E:/1/макет 9/scss/maket9.scss */
  .form__select {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
  /* line 1385, E:/1/макет 9/scss/maket9.scss */
  .input2 {
    margin-top: 0;
    padding: 19px 15px 19px 32px;
    font-size: 14px;
  }
  /* line 1390, E:/1/макет 9/scss/maket9.scss */
  .submit {
    margin: 20px auto 0 auto;
    width: 100%;
    padding: 15px 32px;
    font-size: 16px;
  }
  /* line 1397, E:/1/макет 9/scss/maket9.scss */
  .card1__img {
    padding-bottom: 45.67%;
  }
  /* line 1400, E:/1/макет 9/scss/maket9.scss */
  .card1__text {
    padding: 36px 30px 14px 30px;
  }
  /* line 1402, E:/1/макет 9/scss/maket9.scss */
  .card1__text-footer {
    padding-top: 32px;
  }
  /* line 1407, E:/1/макет 9/scss/maket9.scss */
  .cards__item1 {
    width: 100%;
    margin-right: 0px;
  }
  /* line 1410, E:/1/макет 9/scss/maket9.scss */
  .cards__item1:nth-child(n+12):nth-child(even) {
    margin-right: 0px;
  }
  /* line 1414, E:/1/макет 9/scss/maket9.scss */
  .stars {
    padding: 24px 50px 46px 50px;
  }
  /* line 1416, E:/1/макет 9/scss/maket9.scss */
  .stars.flex {
    justify-content: space-between;
  }
  /* line 1420, E:/1/макет 9/scss/maket9.scss */
  .cards__item2 {
    margin: auto;
    width: 100%;
    margin-top: 32px;
    margin-right: 0;
  }
  /* line 1425, E:/1/макет 9/scss/maket9.scss */
  .cards__item2 .card2__desc {
    padding: 38px 62px 18px 17px;
  }
  /* line 1429, E:/1/макет 9/scss/maket9.scss */
  .container3 {
    max-width: 320px;
  }
  /* line 1432, E:/1/макет 9/scss/maket9.scss */
  .block__offer {
    padding: 48px 0 50px 0;
  }
  /* line 1434, E:/1/макет 9/scss/maket9.scss */
  .block__offer-title1 {
    font-size: 18px;
  }
  /* line 1437, E:/1/макет 9/scss/maket9.scss */
  .block__offer-title2 {
    margin-bottom: 30px;
    font-size: 14px;
  }
  /* line 1442, E:/1/макет 9/scss/maket9.scss */
  .svg4 {
    width: 30px;
    height: 30px;
  }
  /* line 1447, E:/1/макет 9/scss/maket9.scss */
  .reality__links.flex {
    padding: 0 10px;
  }
  /* line 1450, E:/1/макет 9/scss/maket9.scss */
  .reality__link {
    height: 60px;
    width: 60px;
    line-height: 70px;
  }
  /* line 1454, E:/1/макет 9/scss/maket9.scss */
  .reality__link-hr {
    width: 30px;
    height: 2px;
    margin-top: 25px;
  }
  /* line 1458, E:/1/макет 9/scss/maket9.scss */
  .reality__link-hr:nth-of-type(3) {
    display: none;
  }
  /* line 1462, E:/1/макет 9/scss/maket9.scss */
  .reality__link:hover {
    border-color: #1baf5d;
  }
  /* line 1466, E:/1/макет 9/scss/maket9.scss */
  .reality__card {
    width: 100%;
  }
  /* line 1471, E:/1/макет 9/scss/maket9.scss */
  footer .container {
    padding: 0 20px;
  }
  /* line 1475, E:/1/макет 9/scss/maket9.scss */
  .email {
    padding: 22px 20px 22px 69px;
  }
  /* line 1478, E:/1/макет 9/scss/maket9.scss */
  .subscribe {
    position: static;
    margin-top: 20px;
  }
  /* line 1482, E:/1/макет 9/scss/maket9.scss */
  .footer__part2 {
    text-align: center;
  }
  /* line 1485, E:/1/макет 9/scss/maket9.scss */
  .footer__links {
    width: 50%;
  }
  /* line 1488, E:/1/макет 9/scss/maket9.scss */
  .footer__links .flex {
    margin-top: 20px;
  }
  /* line 1491, E:/1/макет 9/scss/maket9.scss */
  .soc__links {
    text-align: center;
  }
}

/*# sourceMappingURL=../css/maket9.map */