$img: "../images/";
$f1: "../fonts/Gotham-Bold/";
$f2: "../fonts/Gotham-Book/";
$f3: "../fonts/Gotham-Medium/";
@mixin wh{
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: 'Gotham bold';
    src: url($f1 + 'subset-Gotham-Bold.eot');
    src: url($f1 + 'subset-Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url($f1 + 'subset-Gotham-Bold.woff2') format('woff2'),
        url($f1 + 'subset-Gotham-Bold.woff') format('woff'),
        url($f1 + 'subset-Gotham-Bold.ttf') format('truetype'),
        url($f1 + 'subset-Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Book';
    src: url($f2 + 'subset-Gotham-Book.eot');
    src: url($f2 + 'subset-Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url($f2 + 'subset-Gotham-Book.woff2') format('woff2'),
        url($f2 + 'subset-Gotham-Book.woff') format('woff'),
        url($f2 + 'subset-Gotham-Book.ttf') format('truetype'),
        url($f2 + 'subset-Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Medium';
    src: url($f3 + 'subset-Gotham-Medium.eot');
    src: url($f3 + 'subset-Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url($f3 + 'subset-Gotham-Medium.woff2') format('woff2'),
        url($f3 + 'subset-Gotham-Medium.woff') format('woff'),
        url($f3 + 'subset-Gotham-Medium.ttf') format('truetype'),
        url($f3 + 'subset-Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
*{
    box-sizing: border-box;
}
html,body, viewport{
    overflow-x:hidden;
}
.container{
    max-width: 984px;
    margin: 0 auto;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    margin-top: 14px;
    flex-shrink: 0;
    background: url($img + "logo.png");
    width: 154px;
    height: 45px;
}
.topmenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content:center;
    padding:0;
    margin-left: 91px;
        &__li {
            flex-flow: 1;
            list-style:none;
            background-color: transparent;
        }
        &__a {
            display:block;
            text-align: center;
            color: #96a6a7;
            padding: 29.5px 10px;
            font-family: 'Gotham Medium';
            font-size: 14px;
            text-transform: uppercase;
            text-decoration: none;
            @include wh;
        }
        &__a:hover{
            background-color: orange;
            transition: background-color 0.5s;
            color: #fff;
        }
}
.search__button{
    padding: 25px;
    height: 100%;
    background-color: #e2dee0;
    border: none;
    cursor: pointer;
    outline: 0;
    &:hover{
        background-color:darken($color: #e2dee0, $amount: 15);
    }
}
.fa-search{
    color: #fff;
    font-size: 23px;
}
.fa-user{
    color: #fff;
    font-size: 18px;
}
.input{
    position: relative;
    padding: 29px 50px 29px 83px;
    background-color: #e94e38;
    width: auto;
    height: 100%;
    text-align: left;
    vertical-align: top;
    font-family: 'Gotham Medium';
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    outline: 0;
    &:hover{
        background-color: darken($color: #e94e38, $amount: 15);
    }
    &::after{
        content: "";
        display: block;
        top:0;
        left: 100%;
        background-color: #e94e38;
        width:100vw;
        height: 100%;
    }
}
.icon{
    display: block;
    position:absolute;
    top:28px;
    left: 40px; 
    z-index: 1;
}
.container2{
    max-width: 470px;
    margin: 0 auto;
}
.block1{
    background: url($img + "img1.png") no-repeat;
    background-size: cover;
    text-align: center;
    &__title{
        display: block;
        padding: 58px 0 33px 0;
        text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
        color: #ffffff;
        font-family: 'Gotham Medium';
        font-size: 30px;
    }
}
.form{
    padding-bottom: 40px;
    &.flex{
        flex-wrap: wrap;
    }
}
.form__select {
    position: relative;
    height: 100%;
    width: calc(220 / 470 * 100%);
    margin-right:29px;
    &:nth-child(2){
        margin-right:0;
    } 
}
.form__select::after {
    content: url($img + "img2.png");
    pointer-events: none;
    position: absolute;
    top: 38%;
    right: 24px;
    z-index: 1;
}
.select2-container{
    width: 100%;
}
.select2-container .select2-selection--single:focus {
    outline: 0;
  }
  .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    padding-right: 0;
   }
.select2-container--default .select2-selection--single {
    background-color: rgba(114, 112, 108, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding: 15px 40px 15px 30px;
    box-sizing: border-box;
}
.select2-container .select2-selection--single {
    height: 100%; 
    width: 100%;
}
.select2-dropdown {
    border-radius: 20px;
    background-color: rgba(114, 112, 108, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-family: 'Gotham Book';
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    line-height: 24px;
  }
.select2-results__option {
    font-family: 'Gotham Book';
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    padding: 15px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
display: none;
}
.select2-search--dropdown {
    display: none;
}
.select2-results__option{
    border-radius: 20px;
    background-color: rgba(114, 112, 108, 0.5);
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: rgba(114, 112, 108, 0.5);
    border-radius: 20px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #e94e38;
    border-radius: 20px;
}
.form__select select {
    @include wh;
}
.input2{
    margin-top: 23px;
    @include wh;
    padding: 19px 32px;
    font-family: 'Gotham Book';
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(114, 112, 108, 0.2);
    border-radius: 30px;
    outline: 0;
}
.input2[type="text"]::-webkit-input-placeholder { 
    color: #fff;
 }
.submit{
    margin: 29px auto 0 auto;
    align-self: center;
    width: calc(140 / 470 * 100%);
    padding: 23px 32px;
    text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Gotham Medium';
    background-color: #e94e38;
    box-shadow: 0 2px 0 #c1412e;
    border: none;
    border-radius: 46px;
    outline: 0;
    cursor: pointer;
    &:hover{
        background-color:darken($color: #e94e38, $amount: 10);
    }
}
.block2.flex{
    align-items: center;
}
.block2{
    padding: 10px 0;
}
.links1__a{
    color: #96a6a7;
    font-size: 12px;
    font-family: 'Gotham Medium';
    text-transform: uppercase;
    text-decoration: none;
    @include wh;
    &:hover{
        color: #e94e38;
    }
}
.links1{
    margin-right: 25px;
    &:last-child{
        margin-right: 0;
    }
}
.block2__buttons .flex{
    align-items: center;
}
.form__select3{
    position: relative;
    height: 100%;
    flex-grow: 1;
    margin-right:12px;
    .select2-container--default .select2-selection--single {
            background-color:#fff;
            border: 1px solid #96a6a7;
            border-radius: 30px;
            padding: 12px 34px 12px 21px;
            box-sizing: border-box;
            width: 100%;
        }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        font-family: 'Gotham Book';
        color: #e94e38;
        font-weight: 400;
        font-size: 12px;
        text-align: left;
        line-height: 14px;
        white-space: normal;
        text-transform: uppercase;
    }
    .select2-dropdown .s3{
        border-radius: 20px;
        background-color:#fff;
        border: 1px solid #96a6a7;
    }
} 
.s3 .select2-results__option  {
    font-family: 'Gotham Book';
    color: #e94e38;
    font-weight: 400;
    font-size: 12px;
    padding: 12px;
    background-color:#fff;
    border-radius: 20px;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
display: none;
}
.s3 .select2-search--dropdown {
    display: none;
}

.select2-container--default .s3 .select2-results__option[aria-selected=true] {
    background-color: #fff;
    border-radius: 20px;
}
.select2-container--default .s3 .select2-results__option--highlighted[aria-selected] {
    background-color: #e94e38;
    border-radius: 20px;
}
.form__select3::after {
    content: url($img + "img3.png");
    pointer-events: none;
    position: absolute;
    top: 29%;
    right: 19px;
    z-index: 1;
}
.form__select3 select {
    @include wh;
    padding: 12px 34px 12px 21px;
}
.map__button{
    flex-grow: 1;
    width: 100%;
    border: 1px solid #1baf5d;
    background-color: #1baf5d;
    padding: 12px 44px 12px 19px;
    position: relative;
    color: #ffffff;
    font-family: 'Gotham Medium';
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 26px;
    cursor: pointer;
    outline: 0;
    &:hover{
        background-color: darken($color: #1baf5d, $amount: 15)
    }
}
.fa-map-marker{
    position: absolute;
    color: #fff;
    font-size: 14px;
    right: 18px;
    top: 34%;
}
.svg1{
    fill:#fff;
    width: 20px;
    height: 19px;
}
.svg2{
    fill:#fff;
    width: 30px;
    height: 30px;
}
.svg3{
    fill:#fff;
    width: 30px;
    height: 23px;
}
.svg4{
    fill: #9dacad;
    width: 46px;
    height: 46px;
}
.filter__title{
    margin-right: 9px;
    vertical-align: middle;
    text-align: right;
    font-size: 12px;
    line-height: 48px;
    color: #96a6a7;
    text-transform: uppercase;
    font-family: 'Gotham Medium';
}
.filter__item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #b6c0c1;
    margin-right: 9px;
    text-decoration: none;
    outline: none;
    text-align: center;
    border:none;
    color: #fff;
    cursor: pointer;
    &:last-child{
        margin-right: 0;
        background-color: #88499c;
    }
    &:nth-child(2){
        background-color: #1baf5d;
    }
    &:nth-child(5){
        background-color: #f19e1f;
    }
    &:hover{
        opacity: 0.5;
    }
}
.block3{
    background-color: rgb(243, 241, 242);
    background-size: cover;
    &__link{
        @include wh;
        padding: 21px 0 35px 0;
        margin: 0 auto;
        text-align: center;
        border-bottom: 1px solid #e2dee0;
        font-family: 'Gotham Medium';
        font-size: 18px;
        &-a{
            color: #566375;
            text-decoration: none;
            &:hover{
                color: crimson;
            }
        }
    }
}
.load_more{
    border-bottom: 1px solid #838887;
    &:hover{
        border-bottom: 1px solid crimson;
    }
}
.cards.flex{
    align-items: stretch;
    flex-wrap: wrap;
    padding: 14px 15px 20px 15px;
}
.card1{
    display: flex;
    flex-direction: column;
    @include wh;
    box-shadow: 0 1px 0 #e2dee0;
    background-color: #ffffff;
    &__img{
        height: auto;
        width: 100%;
        padding-bottom: 66.67%; 
        background: url($img + "img9.png")100% 100% no-repeat;
        position: relative;
        background-size: cover;
        border-bottom: 3px solid #1baf5d;
        &::after{
            content: url($img + "img14.png");
            position: absolute;
            width: 55px;
            height: 55px;
            left: calc(50% - 26px);
            bottom:-26.5px;
            line-height: 64px;
            text-align: center;
            border-radius: 50%;
            border: 3px solid #ffffff;
            background-color: #1baf5d;
        }
    }
    &__text{
        @include wh;
        flex-grow: 1;
        padding: 36px 15px 14px 15px;
        text-align: center;
        &-desc{
            color: #566375;
            font-size: 14px;
            line-height: 18px;
            font-family: 'Gotham Medium';
        }
        &-footer{
            padding-top:19px;
            font-family: 'Gotham Medium';
            font-size: 12px;
            line-height: 16px;
            text-transform: uppercase;
            &.flex{
                justify-content: center;
                flex-direction: column;
            }
        }
    }
}
.cards__item1{
    width: calc(210/984*100%);
    flex-grow: 1;
    height: auto;
    margin-top: 32px;
    margin-right: 35px;
    &:nth-child(-n+10):nth-child(6n-2),
    &:last-child{
        margin-right: 0;
    }
    &:nth-child(-n+4):nth-child(4n-2),
    &:nth-child(n+6):nth-child(-n+11):nth-child(4n-8),
    &:last-child{
        .card__link{
            color: #f19e1f;
            &:hover{
                color: crimson;
            }
        }
        .card1__text-footer{
            padding-top:35px;
        }
        .card1__img{
            background: url($img + "img10.png")100% 100% no-repeat;
            background-size: cover;
            border-bottom: 3px solid #f19e1f;
        &::after{
            content: url($img + "img15.png");
            background-color: #f19e1f;
            line-height: 63px;
            text-align: center;
            }
        }
    }
    &:nth-child(-n+4):nth-child(4n-1),
    &:nth-child(n+6):nth-child(-n+11):nth-child(4n-7){
        .card__link{
            color: #88499c;
            &:hover{
                color: crimson;
            }
        }
        .card1__img{
            border-bottom: 3px solid #88499c;
            &::after{
            content: url($img + "img16.png");
            background-color: #88499c;
            line-height: 63px;
            }
        }
    }
    &:nth-child(6n-2){
        .card1__img{
        background: url($img + "img11.png")100% 100% no-repeat;
        background-size: cover;
        }
    }
    &:nth-child(3) .card1__img{
        padding-bottom: 0;
        text-align: center;
        color: #fff;
    }
}
.card__link{
    color: #1baf5d;
    text-decoration: none;
    &:hover{
        color: crimson;
    }
}
.star-disabled{
    @include wh;
    letter-spacing: -1px;
    pointer-events: none; 
    cursor: default;
    text-decoration: none;
}
.fa-yel{
    color: #f19e1f;
}
.fa-bord{
    color: #f19e1f;
}
.counter{
    color: #96a6a7;
    text-decoration: none;
    &::before{
        content: '(';
    }
    &::after{
        content: ')';
    }
    &:hover{
        color: rgb(156, 36, 14);
    }
}
.prise{
    display: inline-block;
    position: absolute;
    top: 7px;
    right: 8px;
    padding: 7px 12px 6px 11px;
    background-color: #1baf5d;
    color: #ffffff;
    font-family: 'Gotham Medium';
    font-size: 12px;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;  
    border-radius: 23px;
}
.spect__backgr{
    background-color: rgba(136, 73, 156, 0.8);
    background-size: 100%;
}
.show_more{
  display: inline-block;
  position: relative;
  margin-top: 25px;
  border: 2px solid #ffffff;
  background-color: #88499c;
  padding: 11px 19px 10px 38px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;  
  font-family: 'Gotham Medium';
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 21px;
  outline: none;
  cursor: pointer;
  &:hover{
    background-color:lighten($color: #88499c, $amount: 15);
  }
}
.fa__show-more{
    position: absolute;
    font-size: 12px;
    top:29%;
    left: 18px;
}
.stars{
    padding: 15px 38px 40px 36px;
    &.flex{
        align-items: center;
    }
}
.star-rating{
    font-size: 12px;
    letter-spacing: -1px;
    content: "\f005";
    &__wrap{
        display: inline-block;
        font-size: 12px;
        &::after{
            content: "";
            display: table;
            clear: both;
        }
    }
    &__ico{
        float: right;
        padding-left: 2px;
        cursor: pointer;
        color: #ffffff;;
    }
    &__ico:last-child{
        padding-left: 0;
    }
    &__input{
        display: none;
    }
    &__ico:hover::before,
    &__ico:hover ~ &__ico::before,
    &__input:checked ~ &__ico::before
    {
        content: "\f005";
    }
}
.star-comments{
    font-size: 24px;
}
.card2{
    display: flex;
    flex-direction: column;
    @include wh;
    background-color: #ffffff;
    &__img{
        background: url($img + "img17.png") 100% 100% no-repeat;
        background-size: cover;
        border-bottom: 3px solid #1baf5d;
        text-align: left;
        padding: 97px 0 9px 97px;
        background-color: #ffffff;
        position: relative;
        flex-grow: 1;
        &-title.flex{
            justify-content: flex-start;
            align-items: center;
            font-family: 'Gotham Medium';
            color: #ffffff;
            font-size: 12px;
        }
        &::after{
            content: url($img + "img14.png");
            position: absolute;
            width: 55px;
            height: 55px;
            left: 18px;
            bottom:-26.5px;
            line-height: 60px;
            text-align: center;
            border-radius: 50%;
            border: 3px solid #ffffff;
            background-color: #1baf5d;
        }
    }
}
.cards__item2{
    height: auto;
    flex-grow: 1;
    width: calc(459.5/954*100%);
    margin-top: 32px;
    margin-right: 35px;
    background-color: #fff;
    &:nth-child(2n){
        margin-right: 0;
    }
    &:nth-child(n+6){
        .card2__img{
            background: url($img + "img18.png")100% 100% no-repeat;
            background-size: cover;
            border-bottom: 3px solid #f19e1f;
            &::after{
                background-color: #f19e1f;
            }
    
        }
        .card2__desc-img{
            background: url($img + "img20.png")100% 100% no-repeat;
            background-size: cover;
        }
    }
}
.img-title{
    text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 10px;
}
.card2__desc{
    @include wh;
    padding: 17px 56px 18px 97px;
    position: relative;
    text-align: left;
    flex-grow: 1;
    &-img{
        position: absolute;
        background: url($img + "img19.png")no-repeat;
        background-size: cover;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        border: 3px solid #e2dee0;
        top:53px;
        left: 22px;
    }
    &-hr{
        position: absolute;
        height: 20px;
        width: 2px;
        left: 48px;
        top:20px;
        background-color: #f3f1f2;
        border: none;
    }
}
.card__comments{
    color: #566375;
    padding-top: 17px;
    font-size: 14px;
    &-title{
        font-size: 16px;
        text-transform: uppercase;
        font-family: 'Gotham bold';
    }
    &-text{
        font-family: "Gotham Book";
        margin-top: 11px;
        line-height: 20px;
        position: relative;
    }
    &-link{
        position: absolute;
        color: #566375;
        background-color: #fff;
        right: -39px;
        bottom: 0px;
        line-height: 18px;
        font-family: 'Gotham Medium';
        border-bottom: 1px solid rgba(0, 0, 1, 0.15);
        text-decoration: none;
        &:hover{
            color: cornflowerblue;
        }
    }
}
.container3{
    margin: 0 auto;
    max-width: 756px;
}
.block__offer{
    padding: 88px 0 100px 0;
    text-align: center;
    &-title1{
        font-size: 22px;
        font-family: 'Gotham Medium';
        color: #566375;
        line-height: 28px;
    }
    &-title2{
        margin-bottom: 71px;
        color: #96a6a7;
        font-family: "Gotham Book";
        font-size: 16px;
        line-height: 20px;
    }
}
.reality{
    &__link{
        display: inline-block;
        height: 100px;
        width: 100px;
        border: 2px solid #9dacad;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        line-height: 125px;
        &:hover .svg4{
            fill: #1baf5d;
        }
        &-hr{
            display: inline-block;
            width: calc((100% - 500px)/4);
            height: 2px;
            background-color: #e2dee0;
            margin-top:50px;
            margin-left: 6px;
            margin-right: 6px;
        }
        &:hover{
            border-color: #1baf5d;
        }
    }
    &__title{
        color: #1baf5d;
        font-family: 'Gotham Medium';
        font-size: 24px;
        padding: 38px 0 43px 0;
    }
    &__card{
        width: 50%;
        height: 100%;
        padding: 0 10px 43px 103px;
        position: relative;
        color: #566375;
        font-family: "Gotham Book";
        font-size: 14px;
        line-height: 24px;
        text-align: left;
        &-icon{
            position: absolute;
            width: 62px;
            height: 62px;
            border-radius: 50%;
            top: 5px;
            left: 10px;
            background-color: #1db05e;
            line-height: 62px;
            text-align: center;
            font-size: 30px;
            color: #ffffff;
        }
    }
}
footer{
    background: url($img + "img26.png") no-repeat;
    background-size: cover;
}
.footer__form{
    padding: 61px 244px 57px 244px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #ffffff;
    text-align: center;
    &-title{
        font-family: 'Gotham Medium';
        text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
        font-size: 24px;
    }
}
.footer__input{
    margin-top: 47px;
    display: inline-block;
    position: relative;
    @include wh;
    text-align: left;
    vertical-align: top;
}    
.icon-email{
    display: inline-block;
    position:absolute;
    top:25px;
    left: 33px; 
}
.email{
    display: inline-block;
    padding: 22px 152px 22px 69px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
    @include wh;
    text-align: left;
    vertical-align: top;
    font-family: "Gotham Book";
    font-weight: 400;
    font-size: 18px;
    background-color: rgba(92, 87, 83, 0.2);
    border-radius: 44px;
    outline: 0;
}
.subscribe{
    position: absolute;
    display: inline-block;
    padding: 20px 19px;
    top: 4px;
    right: 4px;
    width: 120px;
    height: auto;
    background-color: #e94e38;
    box-shadow: 0 2px 0 #c1412e;
    text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
    text-align: center;
    vertical-align: middle;
    font-family: 'Gotham Medium';
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    border-radius: 38px;
    outline: none;
    cursor: pointer;
    &:hover{
        background-color:lighten($color: #e94e38, $amount: 10);
    }
}
.email[type="email"]::-webkit-input-placeholder { 
    color: #fff;
 }
 .fa1{
    color: #ffffff;
    font-size: 18px;
}
.footer__part2{
    padding: 42px 0 64px 0;
}
.footer__links{
    width: 33.33%;
    height: 100%;
    flex-grow: 1;
    &-item{
        display: flex;
        flex-direction: column;
        &-title{
        font-family: 'Gotham Medium';
        font-size: 16px;
        margin-bottom: 25px;
        color: #ffffff;
        line-height: 20px;
        }
    }
}
.links__title{
    border-bottom: 1px solid rgba(184, 184, 190, 0.7);
}
.footer__link{ 
    font-family: "Gotham Book";
    font-size: 14px;
    line-height: 24px;
    &_a{
        text-decoration: none;
        color: #c0bebc;
        &:hover{
            color: #e94e38;
        }
    }
}
.footer__links .flex{
    flex-direction: column;
    color: #ffffff;
}
.soc__links{
    font-size: 30px;
    text-align: left;
    line-height: 40px;
    word-spacing: 10px;
    &_a{
        text-decoration: none;
        color: #ffffff;
        &:hover{
            color: #e94e38;
        }
    }
}
.copyright{
    margin-top: 64px;
    font-family: "Gotham Book";
    font-size: 14px;
}
@media(max-width:983px){
    .container{
        max-width: 768px;
    }
    .flex{
        flex-wrap: wrap;
    }
    .menu{
        order: 1;
        margin: auto;
    }
    .topmenu{
        margin-left: 0;
    }
    .search__button{
        order:2;
        border-bottom-right-radius: 50px;
        padding: 20px;
        padding-right: 30px;
        padding-bottom: 24px;
        padding-top: 15px;
        padding-left: 20px;
    }
    .input{
        border-bottom-left-radius: 50px;
        padding: 20px 50px 27px 83px;
        &::after{
            content: "";
            display: none;
        }
    }
    .icon{
        top:20px;
    }
    .block2.flex{
        align-items: center;
    }
    .block2{
        padding: 10px 10px;
    }
    .block2__buttons .flex{
        flex-wrap: wrap;
    }
   .block2__buttons{
       order:2;
       margin: auto;
   }
   .filter{
    order:1;
   }
    .card1{
        &__img{
            padding-bottom: 45.67%; 
            background: url($img + "img9.png")center center  no-repeat;
            background-size: cover;
        }
        &__text{
            padding: 36px 30px 14px 30px;
            &-footer{
                padding-top:32px;
            }
        }
    }
    .cards__item1{
        width: calc(300/984*100%);
        &:nth-child(even){
            margin-right: 0;
        }
        &:nth-child(n+12):nth-child(even){
            margin-right: 35px;
        }
        &:nth-child(-n+4):nth-child(4n-2),
        &:nth-child(n+6):nth-child(-n+11):nth-child(4n-8),
        &:last-child{
            .card1__img{
                background: url($img + "img10.png")center center no-repeat;
                background-size: cover;
            }
        }
        &:nth-child(6n-2){
            .card1__img{
            background: url($img + "img11.png")center center no-repeat;
            background-size: cover;
            }
        }
    }
    .show_more{
      margin-top: 30px;
    }
    .stars{
        padding: 24px 50px 46px 50px;
    }
    .cards__item2{
        margin-top: 32px;
        width: 45.44%;
        margin-top: 32px;
        &:nth-child(odd){
         margin-right: 35px;
        }
    .img-title{
        margin-right: 5px;
    }
    .card2__desc{
        padding: 38px 62px 9px 17px;
        &-img{
            top:33px;
            left: auto;
            right: 20px;
        }
        &-hr{
            display: none;
        }
    }
        &:nth-child(11){
            order:2;
            margin: 32px auto;
        }
    }
    .block__offer{
        padding: 88px 0 50px 0;
        &-title2{
            margin-bottom: 50px;
        }
    }
    .reality{
        &__links.flex{
                justify-content: center;
                padding:0 100px;
            }
        &__link{
            &-hr{
                width: calc((163% - 500px)/4);
                height: 2px;
                &:nth-of-type(3){
                    display: none;
                }
            }
            &:hover{
                border-color: #1baf5d;
            }
        }
    }
    footer{
        .container{
            padding: 0 20px;
        }
    }
    .footer__form{
        padding: 61px 144px 57px 144px;
    }
}
@media(max-width:767px){
    .container{
        max-width: 470px;
    }
    .container2{
        max-width: 470px;
        margin: 0 auto;
    }
    .container3{
        max-width: 470px;
    }
    .flex{
        flex-wrap: wrap;
    }
    .topmenu{
        flex-wrap: wrap;
        margin-left: 0;
            &__a {
                padding: 20px 20px;
            }
    }
    .block2{
        padding: 10px 0;
        &.flex{
            justify-content: center;
        }
    }
    .links1{
        padding: 15px 0;
    }
    .block2__buttons .flex{
        flex-wrap: wrap;
    }
    .filter{
        margin-top: 10px;
    }
   .block2__buttons{
    margin: 20px 0 10px 0;
   }
    .block3{
        &__link{
            padding: 0 0 35px 0;
        }
    }
    .card1{
        &__img{
            padding-bottom: 80%;
        }
    }    
    .cards__item2{
        margin:  auto;
        width: 100%;
        margin-top: 32px;
        margin-right: 0;
        &:nth-child(odd) {
            margin-right: 0;
        }
    }
    .stars {
        padding: 24px 30px 46px 30px;
    }
    .block__offer{
        padding: 48px 0 50px 0;
        &-title1{
            font-size: 18px;
        }
        &-title2{
            margin-bottom: 30px;
            font-size: 14px;
        }
    }
    .svg4{
        width: 50px;
        height: 50px;
    }
    .reality{
        &__links.flex{
            padding:0 10px;
        }
        &__link{
            height: 80px;
            width: 80px;
            line-height: 110px;
            &-hr{
                width: 70px;
                height: 2px;
                margin-top:35px;
                &:nth-of-type(3){
                    display: none;
                }
            }
            &:hover{
                border-color: #1baf5d;
            }
        }
        &__card{
            width: 100%;
        }
    }
    .footer__form{
        padding: 61px 0 57px 0;
    }
    .footer__input{
        text-align: center;
    }    
    .email{
        padding: 22px 136px 22px 69px;
        }
    .copyright{
            margin-top: 34px;
        
    }
}
@media(max-width:469px){
    .container{
        max-width: 320px;
    }
    .flex{
        justify-content: center;
    }
    .logo{
        order: 2;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .header-button{
        order: 1;
    }
    .menu{
        order: 3;
        margin: auto;
        margin-bottom: 10px;
    }
    .topmenu{
        &__a {
            padding: 15px 10px;
        }
    }
    .search__button{
        order:2;
        padding-bottom: 15px;
        padding-top: 13px;
    }
    .input{
        padding: 18px 50px 18px 83px;
    }
    .icon{
        top:17px;
        left: 45px; 
    }
    .container2{
        max-width: 320px;
    }
    .block1{
        &__title{
            font-size: 23px;
        }
    }
    .form{
        padding-bottom: 40px;
        padding: 0 50px 40px 50px;
        &.flex{
            flex-wrap: wrap;
            align-content: stretch;
        }
    }
    .form__select {
        width: 100%;
        margin-bottom: 20px;
        margin-right:0;
    }
    .input2{
        margin-top: 0;
        padding: 19px 15px 19px 32px;
        font-size: 14px;
    }
    .submit{
        margin: 20px auto 0 auto;
        width: 100%;
        padding: 15px 32px;
        font-size: 16px;
    }
    .card1{
        &__img{
            padding-bottom: 45.67%; 
        }
        &__text{
            padding: 36px 30px 14px 30px;
            &-footer{
                padding-top:32px;
            }
        }
    }
    .cards__item1{
        width: 100%;
        margin-right: 0px;
        &:nth-child(n+12):nth-child(even){
            margin-right: 0px;
        }
    }
    .stars{
        padding: 24px 50px 46px 50px;
        &.flex{
            justify-content: space-between;
        }
    }
    .cards__item2{
        margin:  auto;
        width: 100%;
        margin-top: 32px;
        margin-right: 0;
        .card2__desc{
            padding: 38px 62px 18px 17px;
        }
    }
    .container3{
        max-width: 320px;
    }
    .block__offer{
        padding: 48px 0 50px 0;
        &-title1{
            font-size: 18px;
        }
        &-title2{
            margin-bottom: 30px;
            font-size: 14px;
        }
    }
    .svg4{
        width: 30px;
        height: 30px;
    }
    .reality{
        &__links.flex{
            padding:0 10px;
            }
        &__link{
            height: 60px;
            width: 60px;
            line-height: 70px;
            &-hr{
                width: 30px;
                height: 2px;
                margin-top:25px;
                &:nth-of-type(3){
                    display: none;
                }
            }
            &:hover{
                border-color: #1baf5d;
            }
        }
        &__card{
            width: 100%;
        }
    }
    footer{
        .container{
            padding: 0 20px;
        }
    }
    .email{
        padding: 22px 20px 22px 69px;
    }
    .subscribe{
        position: static;
        margin-top: 20px;
    }
    .footer__part2{
    text-align: center;
    }
    .footer__links{
        width: 50%;
    }
    .footer__links .flex{
        margin-top: 20px;
    }
    .soc__links{
        text-align: center;
    }
}